.dialog{
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.575);
  border-radius: 10px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.438);
  pointer-events: auto;
}

.dialog > header{
  display: flex;
  justify-content: space-around;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.171);
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  img{
    width: 15px;
    height: 15px;

  }
  img:hover{
    cursor: pointer;
  }

   .button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.808);
    transition: background-color .5s;
  }

  button:hover{
    cursor: pointer;
  }
